<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
				 xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
				 xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
				 xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
				 IgnorableNamespaces="uap uap3 mp">

  <Identity
    Name="HibzzCalculator"
    Publisher="CN=Hibnu Hishath"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="c0796ad7-eddb-4857-b1e1-c3514c7d670f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Calculator for Xbox Gamebar</DisplayName>
    <PublisherDisplayName>Hibzz Games</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Calculator.App">
      <uap:VisualElements
        DisplayName="Calculator"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Calculator"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

			<Extensions>
				<uap3:Extension Category="windows.appExtension">
					<uap3:AppExtension Name="microsoft.gameBarUIExtension"
														 Id="HibzzCalculator"
														 DisplayName="Calculator"
														 Description="Calculator widget for xbox gamebar"
														 PublicFolder="Calculator">
						<uap3:Properties>
							<GameBarWidget Type="Standard">
								<HomeMenuVisible>true</HomeMenuVisible>
								<PinningSupported>true</PinningSupported>
								<Window>
									<Size>
										<Height>150</Height>
										<Width>320</Width>
										<MinHeight>100</MinHeight>
										<MinWidth>200</MinWidth>
										<MaxHeight>200</MaxHeight>
										<MaxWidth>320</MaxWidth>
									</Size>
									<ResizeSupported>
										<Horizontal>true</Horizontal>
										<Vertical>true</Vertical>
									</ResizeSupported>
								</Window>
							</GameBarWidget>
						</uap3:Properties>
					</uap3:AppExtension>
				</uap3:Extension>
			</Extensions>
			
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>